<style>
  #popup {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 2;
	background-color: rgba(0,0,0,0.6);
  }

  .popup-center {
    display: flex;
  	height: 100%;
    justify-content: center;
    align-items: center;
  }

  #popup-form {
  	position: relative;
  	width: 100%;
  	height: 100%;
  	max-width: 500px;
  	max-height: 300px;
  	background-color: rgba(0,0,0,0.7);
    color: white;
  }

  .popup-close {
    position: absolute;
    top: 30px;
    right: 30px;

    cursor: pointer;
    fill: gray;
    transition: 0.2s;
  }

  .popup-close:hover {
    fill: white;
    transform: rotate(90deg);
  }
</style>

<div id="popup">
	<div class="popup-center">
		<div id="popup-form">
			<div class="popup-center">
				<div data-icon='ei-close' data-size='s' class='popup-close'></div>
				<div style="position:relative; top:100px;"><iframe width="100%" height="310px" style="border:none;" src="/subscribe/"></iframe></div>
			</div>
		</div>
	</div>
</div>

<script>
	function closePopup() {
	    $('#popup').hide();
	    $('body').css('overflow','auto');
	    $('html').css('overflow','auto');
  	}

  	function openPopup() {
	    $('#popup').fadeIn();
	    $('body').css('overflow','hidden');
    	$('html').css('overflow','hidden');
	    localStorage.setItem('popState','shown')
  	}

	$(document).ready(function() {
	    if(localStorage.getItem('popState') != 'shown'){
	        setTimeout("openPopup()", 2000)
	    }
	    $('.popup-close').click(function(){
	    	closePopup();
	    });
	    $(document).keyup(function(e) {
     		if (e.key === "Escape") {
     			closePopup();
    		}
		});
	});
</script>
