/*------------------------------------*\
  Elements > Page
\*------------------------------------*/

body {
  color: $color-text;
  font-size: $font-size-medium;
  font-family: $font-serif;
  font-weight: $font-weight-regular;
  line-height: $line-height-medium;

  -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

::selection {
  background: $color-highlight; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: $color-highlight; /* Gecko Browsers */
}