/*------------------------------------*\
  Components > Suggestions
\*------------------------------------*/

.c-suggestions {
  height: 100%;
  overflow: hidden;
  transform: translateX(0);
  margin-bottom: double($base-spacing-unit);
  background-color: $bg-color-white;

  &__image-link {
    display: block;
    position: relative;

    &:after {
      position: absolute;
      top: 0;
      height: 100%;
      width: 100%;
      content: '';
      background-color: $bg-color-dark;
      opacity: 0;
    }
  }

  &__image {
    margin-left: auto;
    margin-right: auto;
    width: auto;
    max-height: 450px;
    @include mq($from: tablet) {
      opacity: 0;

      &.is-inview {
        opacity: 1;
      }

      @media screen and ( -webkit-min-device-pixel-ratio: 0 ) {
        opacity: 1;
      }
    }
  }

  &__info {
    display: block;
    padding: $base-spacing-unit 0;
    text-decoration: none;
    background-color: $bg-color-white;
    border-bottom: 1px solid $color-border;

    &--no-image {
      padding-top: 0;
    }

    &:hover {
      text-decoration: none;
      color: $color-text;
    }
  }

  &__title_featured {
    margin-bottom: half($font-size-logo);
    font-size: $font-size-logo;
    font-weight: $font-weight-regular;
    line-height: $line-height-logo;
    font-family: $font-serif;

  }

  &__title {
    margin-bottom: half($font-size-base);
    font-size: 8px !important;
    font-weight: $font-weight-regular;
    line-height: $line-height-medium;
    font-family: $font-serif;
  }

  &__meta {
    display: block;
    margin-bottom: quarter($line-height-base);
    font-size: $font-size-tiny;
    font-family: $font-sans-serif;
    line-height: $line-height-small;
    text-transform: uppercase;
    color: $color-gray;
  }

  &:hover {
    .c-suggestions__image-link:after {
      opacity: .1;
    }

    .c-suggestions__title {
      color: $color-brand;
    }

    .c-suggestions_title_featured {
      color: $color-brand;
    }

  }

  &__excerpt {
    margin-bottom: half($font-size-base);
    font-family: $font-sans-serif;
  }
}