---
layout: default
title: Biosphere
order: -1
---

<div class='o-wrapper'>

<div class='o-grid'>
<div class='o-grid__col o-grid__col--3-4-m o-grid__col--center'>
<article class='c-post'>
<h1 class='c-post__title u-text-center'>Biosphere</h1>
<div class='c-content'>


<p>Biosphere is a podcast that captures the curiosity, bewilderment, elation, and occasional frustration that we, Caltech Biology PhD students, experience as scientists. In every episode of Biosphere, we have unscripted discussions about the living world and our part in it. If you’ve ever wondered how things like poetic justice, fitting in, and instability manifest themselves in the biologist’s eye, join the conversation with our latest episode of Biosphere.</p>

<!-- <h1 class='c-post__title u-text-center'>Latest episode</h1>
{% assign latest_pod = site.categories.biosphere[0] %}
<p><iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/{{ latest_pod.soundcloud_id }}&color=%23566270&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe></p> -->

<p>Biosphere is co-hosted and created by John Ciemniecki, Julian Wagner, and Lev Tsypin.</p>

<p>Contact the hosts at <a target="_blank" href="mailto:biospherepodcast@gmail.com">biospherepodcast@gmail.com</a>, follow our <a href='https://feeds.soundcloud.com/users/soundcloud:users:733932160/sounds.rss' target='_blank'>RSS feed</a>, and subscribe to us on <a target="_blank" href="https://podcasts.apple.com/us/podcast/caltech-letters/id1490801437">Apple Podcasts</a> or wherever you get your podcasts!</p>


</div>
<h1 class='c-post__title u-text-center'>Episodes</h1>
</article>
</div>
</div>

  <div class='o-grid js-grid'>
    {% for post in site.categories.biosphere %}
      {% include post-card.html %}
    {% endfor %}
  </div>
</div>

<!-- <img src="../media/pages/henry.jpg">

<p><center>Coming soon to eardrums near you!</center></p> -->
